[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	email = rdnply@gmail.com
	name = rdnply
[credential]
	helper = cache
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch

